<div class="d-flex align-items-center justify-content-center py-4 mt-5 mb-5 m-auto" style="min-height: 66vh;">
    <form>
        <h1 class="h3 mb-3 fw-normal text-center">Registrarse</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre">
            <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
            <label for="floatingPassword">Contraseña</label>
        </div>

        <button class="btn btn-primary w-100 py-2 mt-2" type="submit">Crear cuenta</button>
    </form>
</div>