<div class="p-5 bg-body-white">
    <div class="">
        <h2 class="text-center">Mejores posts</h2>
        <div class="d-flex flex-row gap-5">
            <div class="col card my-3 p-0" th:each="post : ${lastPosts}">
                <h5 class="card-header d-flex align-items-center">
                    <img th:src="(${post.avatar} == 'null') ? '/images/iconoUsuario.jpg' : ${post.avatar}" alt="mdo" width="45" height="45" class="p-1 rounded-circle">
                    <div class="ms-2">
                        <p class="username m-0" th:text="'@' + ${post.username}"></p>
                        <h5 class="m-0" th:text="${post.titulo}"></h5>
                    </div>
                </h5>
                <div class="card-body">
                    <p class="card-text" th:text="${post.descripcion}"></p>
                    <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-dark align-self-center">Leer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>