<div class="p-5 bg-body-tertiary">
    <div class="container-fluid py-5 justify-content-center text-center">
        <h1 class="display-7 fw-bold">Experiencias Inolvidables</h1>
        <p class="fs-5">Viajar es descubrir, explorar y crear recuerdos que perduran para siempre. En nuestro sitio, te invitamos a sumergirte en experiencias únicas y memorables. Desde las calles empedradas de ciudades antiguas hasta las playas de aguas cristalinas, cada rincón tiene algo especial que ofrecer. Lee experiencias de viajeros y prepárate para vivir momentos  que te robarán el aliento. ¡Incluso tú puedes publicar las tuyas!</p>
        <a href="/posts" class="btn btn-dark btn-lg">Ver publicaciones</a>
    </div>
</div>