<div>
    <div class="p-5 bg-body-tertiary">
        <div class="pb-5">
            <h2 class="text-center mb-5 fw-bold display-5">Patrocinadores</h2>
            <div class="d-flex flex-row gap-2 align-items-center justify-content-center">
                <img class="col logo-marca-1 mx-4" src="https://asset.brandfetch.io/id6O2oGzv-/idvNIQR3p7.svg" alt="marca">
                <img class="col logo-marca-2 mx-4 mt-4" src="https://asset.brandfetch.io/idawOgYOsG/idisSB3V3T.svg" alt="marca">
                <img class="col logo-marca-3 mx-4" src="https://asset.brandfetch.io/idkuvXnjOH/idrPv8mgc4.svg" alt="marca">
                <img class="col logo-marca-4 mx-4" src="https://asset.brandfetch.io/idkKwm0IT0/idy-JEKPXD.svg" alt="marca">
            </div>
        </div>
    </div>
</div>