<div th:each="post : ${posts}">
    <div class="d-flex flex-row">
        <div class="col p-0 w"></div>
        <div class="col card my-3 p-0">
            <h5 class="card-header d-flex align-items-center px-2">
                <img src="iconoUsuario-removebg-preview.png" alt="mdo" width="55" height="55" class="rounded-circle">
                <div class="ms-2">
                    <p class="username m-0" th:text="'@' + ${post.username}"></p>
                    <h5 class="m-0" th:text="${post.titulo}"></h5>
                </div>
            </h5>
            <div class="card-body">
                <p class="card-text" th:text="${post.descripcion}">

                </p>
                <div class="d-flex justify-content-center">
                    <a href="/verpost" class="btn btn-primary align-self-center">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col p-0"></div>
    </div>
</div>


