<div class="d-flex flex-row">
    <div class="col p-0 w"></div>
    <div class="col card my-3 p-0">
        <h5 class="card-header d-flex align-items-center px-2">
            <img src="iconoUsuario-removebg-preview.png" alt="mdo" width="55" height="55" class="rounded-circle">
            <div class="ms-2">
                <p class="username m-0">@NuttingMyPassion</p>
                <h5 class="m-0">Mi viaje a Nicaragua</h5>
            </div>
        </h5>
        <div class="card-body">
            <p class="card-text">
                Por más espectacular que parezca, tenían coches, y móviles, eso sí me sorprendió. Nicaragua, c...
            </p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary align-self-center">Leer más</a>
            </div>
        </div>
    </div>
    <div class="col p-0"></div>
</div>



<div class="d-flex flex-row">
    <div class="col p-0 w"></div>
    <div class="col card my-3 p-0">
        <h5 class="card-header d-flex align-items-center px-2">
            <img src="iconoUsuario-removebg-preview.png" alt="mdo" width="55" height="55" class="rounded-circle">
            <div class="ms-2">
                <p class="username m-0">@NuttingMyPassion</p>
                <h5 class="m-0">Mi viaje a Bali</h5>
            </div>
        </h5>
        <div class="card-body">
            <p class="card-text">
                Por más espectacular que parezca, tenían coches, y móviles, eso sí me sorprendió. Nicaragua, c...
            </p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary align-self-center">Leer más</a>
            </div>
        </div>
    </div>
    <div class="col p-0"></div>
</div>


<div class="d-flex flex-row">
    <div class="col p-0"></div>
    <div class="col card my-3 p-0">
        <h5 class="card-header d-flex align-items-center px-2">
            <img src="iconoUsuario-removebg-preview.png" alt="mdo" width="55" height="55" class="rounded-circle">
            <div class="ms-2">
                <p class="username m-0">@Usuario</p>
                <h5 class="m-0">Título de la Publicación</h5>
            </div>
        </h5>
        <div class="card-body">
            <p class="card-text">Contenido de la publicación...</p>
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-primary align-self-center">Leer más</a>
            </div>
        </div>
    </div>
    <div class="col p-0"></div>
</div>




