<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <div class="d-flex flex-column justify-content-center align-items-center p-4">
        <p th:text="${status}" class="display-1">Error status</p>
        <p th:text="${error}" class="display-6">Error description</p>
        <p th:text="${errorMessage}">Error message</p>
    </div>
</body>
</html>
